<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Car Parking System</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <style>
    .availability {
      cursor: pointer;
    }

    .card {
      width: 100%;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .card-header {
      background-color: #f8f9fa;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
    }

    .card-body {
      font-size: 1rem;
      font-weight: bold;
    }

    .card-available {
      background-color: #9efe78;
    }

    .card-occupied {
      background-color: #ff7984;
    }

    .card-booked {
      background-color: #79a6ff;
    }

    .booking-form {
      margin-top: 30px;
    }

    /* Responsive Styles */
    @media (max-width: 767px) {
      .card {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home"><i class="fas fa-car"></i> My Car Parking System</a>
  </nav>
  <div class="container">
    <h1 class="my-5 text-center">Live Car Parking Status</h1>
    <div class="row text-center" id="sensor-list"></div>
  </div>
  <script>
    $(document).ready(function () {
      const socket = io();
      socket.on('sensorData', function (data) {
        const sensorList = $("#sensor-list");
        sensorList.html("");
        const sensorData = data.split(",");
        for (let i = 0; i < sensorData.length; i++) {
          const cardAvailability = $("<div></div>");
          cardAvailability.addClass("card availability");
          cardAvailability.attr("data-slot", i + 1);
          const card = $("<div></div>");
          card.addClass("card col-md-12");
          if (sensorData[i] === "1") {
            card.addClass("card-available");
          } else if (sensorData[i] === "0") {
            card.addClass("card-occupied");
          } else if (sensorData[i] === "2") {
            card.addClass("card-booked");
          }
          const cardHeader = $("<div></div>");
          cardHeader.addClass("card-header");
          cardHeader.text("Sensor " + (i + 1));
          const cardBody = $("<div></div>");
          cardBody.addClass("card-body");
          if (sensorData[i] === "1") {
            cardBody.text("Available");
          } else if (sensorData[i] === "0") {
            cardBody.text("Occupied");
          } else if (sensorData[i] === "2") {
            cardBody.text("Booked");
          }
          card.append(cardHeader);
          card.append(cardBody);
          cardAvailability.append(card);
          sensorList.append(cardAvailability);
        }
      })
    });
  </script>
</body>

</html>